@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .hotel
    &__slider
      width: 580px
  .revievs
    &__title
      margin-top: 1px
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
    &__contact
      &-form
        margin-right: 25px
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
    &__image
      width: 100%
      height: 18px
  .navbar
    &-top
      padding: 30px 0
      height: 100px
      &__search
        margin-left: auto
        margin-left: 47px
        margin-right: 73px
    &-bottom
      height: 60px
    &-menu
      width: 673px
      margin: auto
      padding-top: 19px
      padding-bottom: 23px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
      padding-left: 23px
      padding-right: 90px
  .hotel
    padding-bottom: 60px
    &__slider
      width: 100%
    &-info
      &__offer
        margin-top: 5px
      &__rating
        margin-right: 0
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      &__booking
        height: 210px
        padding: 28px 22px 24px 23px
  .booking
    width: 340px
    &__call-center
      margin-bottom: 16px
  .slider
    width: 100%
  .map
    width: 340px
    height: 210px
  .newsletter
    padding: 72px 0
  .subscribe__button
    padding-right: 6px
  .reviews
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        &:after, &:before
          display: none
      &__button
        top: 50%
        &--prev
          left: 1px
        &--next
          right: 1px
  .activities
    padding: 50px 0 70px 0
    &-wrapper
      flex-wrap: wrap
      flex-direction: column
      align-items: center
      height: 530px
      margin: 0 -9px
      &__card
        &--golf
          order: 1
        &--quest
          order: 1
  .card
    width: 339px
    height: 255px
    &__image
      width: 100%
    &__corner
      width: 54%
    &__golf
      width: 72%
    &__trip
      width: 62%
    &__quest
      width: 85%
  .footer
    padding: 20px 0 46px 0
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__logo
      margin: 51px 0 0 0
      width: 95px
      height: 111px
      grid-row: 1 / 2
      grid-column: span 2
    &__legal
      margin: 10px 0 0 31px
      grid-column: span 2
    &__social
      &-network
        margin: 65px 0 0 -47px
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      margin: 11px 0 0 0
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      margin: 10px 0 0 -33px
      grid-column: span 2
    &__contact
      &-details
        margin: 23px 0 0 -1px
        grid-column: span 5
        grid-row: 3
      &-form
        margin: 28px 44px 0 -14px
        grid-column: span 5
        grid-row: 4
    &__input
      flex-basis: 47%
    &__form
      &-name
        padding: 0 84px 0 23px
      &-number
        padding: 0 85px 0 22px
    &-info
      &__wrapper
        margin-top: 58px
      &__image
        margin: -2px 1px 0 0
      &__disclamer
        margin-left: 0
@media (max-width: 768px)
  body
    padding-top: 80px
  .container
    width: 92%
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-top
      &__user, &__search
        &--mobile
          &-menu
            height: 
          &_hidden
            display: none
          &_visible
            display: flex
      &__user
        flex-direction: column
        justify-content: center
      &__search
        &--mobile
          &_visible
            margin: 0 0 7px 0
            width: 245px
    &-bottom
      display: none
      position: fixed
      padding-top: 30px
      left: 0
      right: 0
      bottom: 0
      top: 80px
      height: 100vh
      &--visible
        display: block
        margin-top: -9px
    &-menu
      flex-direction: column
      padding-top: 0
      width: 100%
      &__item
        margin-bottom: 17px
        &--mobile
          &_visible
            display: block
            margin-bottom: 28px
  .menu
    &-button
      display: flex
  .user
    &__name
      &--light
        color: $white
        margin: 10px 0 0 0
  .stars
    flex-basis: content
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 450px
  .newsletter
    &-wrapper
      width: 92%
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .reviews
    &-slider
      &__item
        width: 95%
        padding: 0 30px 30px
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    &-wrapper
  .card
    width: 270px
    height: 240px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 626px)
  .footer
    &__additional
      margin-left: -8px
@media (max-width: 576px)
  .container
    width: 88%
  .logo
    width: 99px
    &__image
      height: 13px
      margin-top: 10px
  .navbar
    height: 70px
    &-top
      height: 13px
      padding: 28px 0
      &__menu-button
        margin-top: 13px
  .breadcrumb
    height: 47px
  .hotel
    padding: 0
    &-slider
      &__image
        width: 100%
    &-info
      padding-bottom: 38px
      &__offer
        margin-top: 8px
        margin-left: 2px
        padding: 3px 9px 4px 10px
  .stars
    &__wrapper
      margin-top: 7px
      margin-right: 18px 
  .hotel
    &-right
      justify-content: start
      &__booking
        padding-left: 24px
        padding-right: 25px
        margin-bottom: 20px
    &__slider
      margin-bottom: 20px
      height: 180px
  .slider
    height: 180px
  .map
    height: 173px
  .booking
    &__info
      margin-right: -3px
      margin-bottom: 8px
  .newsletter
    padding-top: 53px 
    padding-bottom: 83px
    margin-top: -8px
    &__subscribe
      width: 95%
      margin: auto
    &-wrapper
      display: flex
      flex-wrap: wrap
    &-title
      margin: 22px 0 37px 7px
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 6px
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &-slider
      &__button
        &--prev
          left: 50%
          margin-left: -92px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -88px
          transform: translate(50%, 0)
      &__item
        width: 98%
      &__avatar
        margin-top: 0
        margin-right: 3px
    &__title
      width: 92%
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
      margin-left: 10px
  .stars
    &__wrapper
      margin: 0
      &-top
        margin-top: 8px
        margin-right: 17px
  .activities
    padding-top: 22px
    padding-bottom: 40px
    &__card
      width: 100%
      height: 255px
      margin: 0 10px 20px
    &__title
      margin-bottom: 37px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &-wrapper
      flex-direction: row
      margin-left: -10px
      height: 100%
      &__card
        &--golf
          margin-top: 8px
  .card
    &__title
      width: 62%
    &__trip
      width: 71%
    &__golf
      width: 71%
    &__quest
      width: 88%
  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 0
    &__logo
      margin-top: 0
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        display: flex
        flex-wrap: wrap
        margin-top: 40px
        margin-left: 0
        grid-row: 2
        grid-column: 1
      &-links
        margin-left: 3px
    &__title
      &-up
        margin-bottom: 16px
      &-categories
        margin-bottom: 20px
      &--inline
        width: 100%
        margin: 0 0 20px 0
    &__additional
      margin: 30px 0 0 0 
      grid-row: 4
      grid-column: 1
    &__categories
      margin-top: 30px
      grid-row: 5
      grid-column: 1
    &__legal
      margin: 28px 0 0 0
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        width: 93%
        margin: 41px 0 0 0
        grid-row: 6
        grid-column: 1
      &-form
        width: 97%
        margin-top: 66px
        grid-row: 7
        grid-column: 1
      &__text
        width: 101%
      &__ul
        width: 100%
        &-wrapper
          margin-bottom: 22px
    &__button
      order: 1
      margin-top: 0
    &__info
      width: 100%
      margin: 16px 0 15px 1px
    &-info
      flex-wrap: wrap
      &__wrapper
        margin-top: 29px
      &__disclamer
        width: 100%
        padding-right: 7px
      &__image
        margin-top: 9px
    &__item
      &-map
        margin-top: -2px
        margin-bottom: 9px
    &__icon
      &-map
        width: 25px
      &-phone
        width: 37px
      &--map
        margin: 5px 12px 0 5px
      &--phone
        margin: 18px -11px 0 2px
      &--email
        margin: 3px 9px 0 4px
        