*
  box-sizing: border-box
body
  font-family: $nunito
  font-family: $mulish
  background-color: $w-input
  color: $text-color
.container
  max-width: 1108px
  margin: auto
button
  cursor: pointer
  outline: none
input
  outline: none
img
  max-width: 100%