.footer
  background-color: $dark
  padding-top: 108px
  padding-bottom: 46px
  color: $white
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(250px, 1fr))
    grid-auto-rows: minmax(75px, min-content)
    align-items: start
  &__logo
    grid-row: 1 / 4
    margin: 30px 0 0 -2px
    width: 154px
    height: 173px
  &__categories
    grid-row: 1 / 4
    margin-left: 6px
  &__additional
    margin-left: 14px
  &__legal
    margin-left: 82px
  &__social
    &-links
      display: flex
      align-items: center
      min-width: 83px
      justify-content: space-between
      margin-top: 1px
    &-network
      display: flex
      align-items: start
      grid-row: 2 / 4
      grid-column: span 2
      margin-top: 24px
      margin-left: 14px
  &__contact-details
    grid-column: span 2
    margin-top: 3px
    margin-left: -6px
  &__text
    margin: 23px 0 17px 0
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0 0 16px 0
    text-transform: uppercase
    &--inline
      margin: 0 44px 0 0
  &__item
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 157%
    color: $input-text
    &-ul
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
      &--map
        display: flex
        align-items: center
      &--phone
        display: flex
        margin-top: 15px
  &__contacts-content
    margin-top: 3px
  &__tel-1, &__tel-2, &__tel-3
    display: block
  &__icon-map
    margin: 10px 22px 0 9px
  &__icon-phone
    margin: -30px 19px 0 6px
  &__link
    text-decoration: none
    color: inherit
