.footer
  background-color: $dark
  padding-top: 108px
  padding-bottom: 46px
  color: $white
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(250px, 1fr))
    grid-auto-rows: minmax(75px, min-content)
    align-items: start
  &__logo
    grid-row: 1 / 4
  &__categories
    grid-row: 1 / 4
  &__social
    &-links
      display: flex
      align-items: center
      min-width: 83px
      justify-content: space-between
      margin-top: 1px
    &-network
      display: flex
      align-items: start
      grid-row: 2 / 4
      grid-column: span 2
      margin-top: 22px
  &__contact-details
    grid-column: span 2
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0 0 16px 0
    text-transform: uppercase
    &--inline
      margin: 0 44px 0 0
  &__item
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
    color: $input-text
  &__link
    text-decoration: none
    color: inherit
